@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 2px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: #8E5D52;
}

body {
    font-size: 100%;
    background:linear-gradient( to left, #0000ffbb 20%, #000000e9 90%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-titulo{
    display: flex;
    gap: 32px;
    font-family: 'Sarala', sans-serif;
    color: #FFF2EF;
    font-weight: 400;
    font-size: 40px;
} 

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-botao{
    font-family: 'Sarala', sans-serif;
    color: #FFF2EF;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-botao:hover{
    color: #2F2325;
    border-radius: 10px;
    background-color: #FFF2EF;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2EF;
}

.principal{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2EF;

}

.principal-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 60px;
    color: #FFF2EF;
}

.principal-paragrafo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
    color: #FFF2EF;
}

.detalhes{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ECD6C4;
}

.arrow{
    color: #FFF2EF;
}

.detalhes-paragrafo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
    color: #FFF2EF;
}

.conteudo-final{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ECD6C4;
}

.conteudo-fnal-escrito{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
    color: #FFF2EF;
}

.conteudo-fnal-paragrafo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
    color: #FFF2EF; 
}

.button{
    color: #2F2325;
    font-weight: bolder;
    text-decoration: none;
}

.button:hover {
    text-decoration: underline;
    color: #0e2068;
    border-radius: 20px;
    background-color: #8E5D52;
}

button{
    display: inline-block;
    padding: 15px 30px;
    margin: 4px 2px;
    font-size: 16px;
    align-items: baseline;
    box-shadow: 7px 7px 7px black;
    border-radius: 15px;
    cursor: pointer;
}

.rodape{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF2EF;
    background:linear-gradient( to left, #0000ffbb 20%, #000000e9 90%); 
}

.rodape-paragrafo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: #FFF2EF;
}

.strong:hover {
    text-decoration: underline;
    color: #2F2325;
    border-radius: 10px;
    background-color: #FFF2EF;
}