@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    text-decoration: none;
    color: #8E5D52;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-titulo{
    display: flex;
    gap: 32px;   
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-botao{
    font-family: 'Sarala', sans-serif;
    color: #FFF2EF;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2EF;
}
.principal{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2EF;

}

.principal-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 60px;
    color: #FFF2EF;
}
.principal-paragrafo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
    color: #FFF2EF;
}
.detalhes{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ECD6C4;
}



.detalhes-paragrafo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
    color: #FFF2EF;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
#button2{
    font: normal 18pt Arial;
    width: 120px;
    border-radius: 10px;
}


button{
    box-shadow: 7px 7px 7px black;
    border-radius: 15px;
}

button > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}
